#main-div {
    justify-content: center;
    margin-top: 50px;
}

#main-resume {
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
}

#header-search-container {
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin: auto;
    width: 90%;
    flex-direction: row;

    /* display: table; */
}

#content-card-div {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    flex-direction: row;

}

.no_resume_class {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.horizontal_class_no_padding {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.vertical_class {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 80%;
}

.vertical_class h5 {
    vertical-align: bottom;
    text-align: right;
    float: left;
    margin-left: 10px;
}

.vertical_class h4 {
    vertical-align: bottom;
    text-align: left;
    float: left;

}

.vertical_class_40 {
    display: inline;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 35%;
    max-width: 35%;
    background-color: antiquewhite;
}

.vertical_class_40 h4 {
    background-color: gray;
    padding: 5px;
    margin-top: 5px;
}


.vertical_class_40 h6 {
    text-align: right;
    margin-top: 5px;
}

.vertical_class_60 {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 65%;
}

.vertical_class_60 h4 {
    padding: 5px;
    margin-top: 5px;
}


.vertical_class_60 h3 {
    /* text-align: right; */
    margin-top: 5px;
    padding: 0px;
    font-weight: 500;

}

.no_resume_class img {
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
}

.no_resume_class h1 {
    max-width: 70%;
    margin: 20px;
}

.left_header h4 {
    background-color: gainsboro;
    color: black;
    align-self: self-start;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.left_header h6 {
    background-color: gainsboro;
    color: black;
    display: inline;
    align-self: self-end;
    padding-left: 10px;
    padding-right: 10px;
}

#appliedFor {
    display: block;
    flex-direction: row;
}

#content-card-div div h2 {
    width: 30%;
    color: #001e4d;


}

#appliedFor #content {
    width: 70%;
    color: #001e4d;

}

#content-no-resume-div {
    border-radius: 10px;
    margin-top: 0px;
    padding: 10px;
    background-color: white;
    margin: 10px auto 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center
}


#content-side-by-side {
    border-radius: 10px;
    margin-top: 0px;
    padding: 10px;
    background-color: white;
    margin: 10px auto 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-side-by-side image img {
    max-width: 30%;
    border-radius: 50%;
}

#name {}

#login-error-msg-holder {
    display: none;
}

.login-error-msg-label {
    font-weight: 900;
    font-size: medium;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

#content-no-resume-div image {
    max-width: 50%;
    max-height: 50%;
}


.small_text {
    color: #001e4d;
    margin: 0%;
    padding: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
}

.small_text_heading {
    color: #001e4d;
    margin: 0%;
    padding: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.details-container {
    align-items: center;
    justify-content: center;
    display: flex;
}