#main-div {
    justify-content: center;
}

#header-search-container {
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin: auto;
    width: 50%;
    display: table;
}

#content-card-div {
    border-radius: 10px;
    margin-top: 0px;
    padding: 10px;
    background-color: white;
    margin: 10px auto 0;
    width: 90%;
}

#content-no-resume-div {
    border-radius: 10px;
    margin-top: 0px;
    padding: 10px;
    background-color: white;
    margin: 10px auto 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center
}

#name {}

#login-error-msg-holder {
    display: none;
}

.login-error-msg-label {
    font-weight: 900;
    font-size: medium;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 50%;
    max-height: 50%;
}